<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- (click)="onlyOdd = !onlyOdd">Only show odd numbers</button> -->
      <button
        class="btn btn-primary"
        (click)="onClick()">Click counter</button>
      <br><br>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let number of numbers"
        >
        {{ number }}
        </li>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Odd number of clicks</p>
      </ng-template>
      <div *appUnless="onlyOdd">
        <p>Even number of clicks</p>
      </div>
    </div>
  </div>
  <div [ngSwitch]="count % 2">
    <p *ngSwitchCase="0">Even number of clicks: {{ count }}</p>
    <p *ngSwitchCase="1">Odd number of clicks: {{ count }}</p>
    <p *ngSwitchCase="default">Number of clicks: n/a</p>
  </div>
  <p appBasicHighlight>
    Hello, it's me. Your custom directive <em>BasicHighlight</em> styled element.
  </p>
  <!-- <p appBetterHighlight [defaultColour]="lavender">
    ^ doesn't work because angular considers anything inside "" as an expression-->
  <!-- <p appBetterHighlight [defaultColour]="'lavender'" [highlightColour]="'plum'"> -->
  <p [appBetterHighlight]="'plum'" defaultColour="lavender">
    Hello, it's me. Your custom directive <b>BetterHighlight</b> styled element.
  </p>
</div>

